  /* ================ ACHIEVEMENTS ================ */
  .about__achievements {
        margin-top: 3rem;
  }

    .about__achievements__container {
        display: grid;
           grid-template-columns: 40% 60%;
           gap: 5rem;
    }

    .about__achievement__right> p {
        margin: 1.6rem 0 2.5rem;
    }

    .achievements__cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    .achievement__card{
        background-color: var(--color-bg2);
        padding: 1.5rem;
        border-radius: 1rem;
        text-align: center;
        transition: var(--transition);
        }

    .achievement__card:hover{
        background: var(--color-primary); 
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    }