/* Over-ride default browser styles */
* {
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  outline: 0;
}

/* CSS Variables help to customize work page and helps in DRY */
/* #d4a373
#e9c46a
#4a5759
#d5bdaf
#6c584c */
:root {
  --color-primary: #e9c46a;
  --color-success: #00bf8e;
  --color-warning: #4a5759;
  --color-danger: #f75842;
  --color-danger-variant: rgba(247, 88, 66, 0.5);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.7);
  --color-black: #000;
  --color-bg: #6c584c;
  --color-bg1: #d5bdaf;
  --color-bg2: #4a5759;

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 95%;

  ---transition: all 0.4s ease;
}

body {
  font-family: "Playfair Display", serif;
  line-height: 1.7;
  color: var(--color-white);
  background: var(--color-bg);
}
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

section {
  padding: 6rem 0;
}

section h2 {
  text-align: center;
  margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5{
  line-height: 1.2;
}

h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.3rem;
}
a{
    color:var(--color-white)
}
