/* Over-ride default browser styles */
* {
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  outline: 0;
}

/* CSS Variables help to customize work page and helps in DRY */
/* #d4a373
#e9c46a
#4a5759
#d5bdaf
#6c584c */
:root {
  --color-primary: #bc6c25;
  --color-success: #00bf8e;
  --color-warning: #4a5759;
  --color-danger: #f75842;
  --color-danger-variant: rgba(247, 88, 66, 0.5);
  --color-white: #fff;
  --color-black: #000;
  --color-bg: #6c584c;
  --color-bg1: #d5bdaf;
  --color-bg2: #4a5759;

  --container-width-lg: 76%;
  --container-width-md: 90%;
  --container-width-sm: 95%;

  ---transition: all 0.4s ease;
}
